body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div {
  background-color: #00b7ff;
  padding: 10px;
  border-color: gray;
  border: 1px solid;
}