import React from 'react';
import { FormattedMessage } from 'react-intl';
import messages from './messages';

export default function EditItem(props) {
    return (
        <div>
            <FormattedMessage {...messages.headerEditItem} />
        </div>
    )
}
