import React, { useState } from 'react';
import { FormattedMessage } from 'react-intl';
import messages from './messages';

export default function NewItem(props) {
    const [col1, setCol1] = useState('');
    const [col2, setCol2] = useState('');
    const [col3, setCol3] = useState('');

    const saveData = ()=> {
        props.onCreateItem({
            Column1: col1,
            Column2: col2,
            Column3: col3,
        });
        props.onInitLoad();
        props.onChangePage('LIST');
    }
    return (
        <div>
            <table width="100%" cellPadding={5} border="1">
                <tbody>
                    <tr>
                        <td width="10%">No</td>
                        <td width="50%">Auto Generate UUID</td>
                    </tr>
                    <tr>
                        <td width="10%">Col - 1</td>
                        <td width="50%">
                            <input type="text" value={col1} onChange={(e)=>setCol1(e.target.value)} />
                        </td>
                    </tr>
                    <tr>
                        <td width="10%">Col - 2</td>
                        <td width="50%">
                            <input type="text" value={col2} onChange={(e)=>setCol2(e.target.value)} />
                        </td>
                    </tr>
                    <tr>
                        <td width="10%">Col - 3</td>
                        <td width="50%">
                            <input type="text" value={col3} onChange={(e)=>setCol3(e.target.value)} />
                        </td>
                    </tr>
                    <tr>
                        <td colSpan={2} width="10%">
                            <div>
                                <button onClick={()=>saveData()}>Save</button>
                                <button>Reset</button>
                                <button onClick={()=>props.onChangePage('LIST')}>Back</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    )
}
